header {
    display: flex;
    justify-content: space-between;
    color: #3C3C3C;
}

header img {
    width: 10%;
}

header nav {
    width: 80%;
    margin-right: 0%;
}

header ul {
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    margin-top: 4%;
    margin-right: 4%;
    justify-content: flex-end;
}

header li {
    padding: 1%;
    list-style: none;
}

header a {
    text-decoration: none;
    color: #3C3C3C;
}

header a:hover, .curent {
    color: #00B3FA;
}