/* This sheet regroups the styles that will be shared by the pages.*/

@import 'header.css';
@import 'footer.css';

@font-face {
    font-family: "Averta";
    src: url("../fonts/AvertaRegular.otf");
}
@font-face {
    font-family: "Franklin Gothic Heavy";
    src: url("../fonts/FranklinGothicHeavy.ttf");
}

@media (min-width: 1200px) {
    body {
        width: 70%;
    }
}
@media (max-width: 1198.98px){
    body {
        width: 100%;
    }
}

body {
    margin: 0 auto;
}

.banner {
    width: 100%;
    height: 30vh;
    color: white;
    font-family: 'Franklin Gothic Heavy','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 2%;
}

div h1 {
    padding: 4% 0% 0% 4%;
    text-align: left;
}

main {
    text-align: center;
}
